.home {
  position: relative;
}

.home__content {
  grid-template-columns: 3rem repeat(2, 1fr);
  column-gap: 3rem;
  padding-top: 4rem;
}

.home__social {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 3rem;
}

.home__social a {
  font-size: 1.25rem;
  color: var(--title-color);
  background: #fff;
  padding: 0.3rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  position: relative;
}

.home__social a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fcfbf7;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home__social a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

/* .home__social a:hover {
  color: var(--title-color-dark);
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
} */

/* .home__social a:hover {
  color: #fff;
  background: orangered;
} */
/*
.home__social .instagram:hover {
  color: #fff;
  background: linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

.home__social .dribbble {
  color: #ea4c89;
  background: #ddd8d8;
}

.home__social .linkedin {
  color: #0072b1;
  background: #ddd8d8;
}

.home__social .github {
  background: #ddd8d8;
} */

.home__greeting {
  font-size: var(--h2-font-size);
  color: #ff014f;
}

.home__title {
  text-align: left;
  font-size: var(--big-font-size);
  margin: 0;
  margin-bottom: var(--mb-1-5);
  line-height: 1.2;
}

.home__subtitle {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}
.home__description {
  max-width: 35rem;
  margin-bottom: var(--mb-3);
}

.profile-area .outer-circle span svg {
  width: 2rem;
  height: 2rem;
  padding: 0;
}

.profile-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-area .outer-circle {
  width: 26rem;
  height: 26rem;
  border: 1px solid var(--title-color-dark);
  border-radius: 50%;
  position: relative;
  animation: move 30s linear infinite;
}

@keyframes move {
  to {
    transform: rotate(360deg);
  }
}

.profile-area .outer-circle span {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  background: #ddd8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.profile-area .outer-circle span:nth-child(1) {
  left: calc(50% - 2rem);
  top: -2rem;
}

.profile-area .outer-circle span:nth-child(2) {
  right: -2rem;
  top: calc(50% - 2rem);
}

.profile-area .outer-circle span:nth-child(3) {
  left: -2rem;
  top: calc(50% - 2rem);
}

.profile-area .outer-circle span:nth-child(4) {
  bottom: -2rem;
  left: calc(50% - 2rem);
}

.profile-area .inner-circle {
  position: absolute;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #b2bec3;

  box-shadow: 0 0 1rem #bcb8f8;
}

.profile-area .inner-circle img {
  width: 100%;
  height: auto;
}

.button {
  gap: 0.5rem;
}

/*========  BREAKPOINTS =====*/
/* Large Devices*/
@media screen and (max-width: 992px) {
  .home__container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .home__content {
    grid-template-columns: 4rem repeat(2, 1fr);
    gap: 1.25rem;
  }

  .home__description {
    width: 22rem;
    margin-bottom: var(--mb-2-5);
  }

  .home__subtitle {
    margin-bottom: var(--mb-1);
  }

  .profile-area .outer-circle {
    width: 22rem;
    height: 22rem;
  }

  .profile-area .outer-circle span {
    width: 3rem;
    height: 3rem;
  }

  .profile-area .outer-circle span:nth-child(1) {
    left: calc(50% - 1.5rem);
    top: -1.5rem;
  }

  .profile-area .outer-circle span:nth-child(2) {
    right: -1.5rem;
    top: calc(50% - 1.5rem);
  }

  .profile-area .outer-circle span:nth-child(3) {
    left: -1.5rem;
    top: calc(50% - 1.5rem);
  }

  .profile-area .outer-circle span:nth-child(4) {
    bottom: -1.5rem;
    left: calc(50% - 1.5rem);
  }

  .profile-area .inner-circle {
    width: 16rem;
    height: 16rem;
  }
}

/* Medium Devices*/
@media screen and (max-width: 768px) {
  .home__content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
  }
  .profile-area {
    grid-row: 1;
    grid-column: 2;
  }

  .home__data {
    grid-column: 1/3;
  }

  .home__description {
    width: 22rem;
  }

  .home__title {
    margin-top: 2rem;
  }

  .profile-area .outer-circle {
    width: 22rem;
    height: 22rem;
  }
}

@media screen and (max-width: 576px) {
  .home__content {
    grid-template-columns: 0.3fr 3fr;
    padding-top: 3.5rem;
  }

  .home__container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .home__content {
    column-gap: 0.5rem;
  }

  .profile-area .outer-circle {
    width: 18rem;
    height: 18rem;
  }

  .profile-area .outer-circle span svg {
    width: 1.75rem;
    height: 1.75rem;
  }

  .profile-area .outer-circle span {
    width: 2.5rem;
    height: 2.5rem;
  }

  .profile-area .outer-circle span:nth-child(1) {
    left: calc(50% - 1.25rem);
    top: -1.25rem;
  }

  .profile-area .outer-circle span:nth-child(2) {
    right: -1.25rem;
    top: calc(50% - 1.25rem);
  }

  .profile-area .outer-circle span:nth-child(3) {
    left: -1.25rem;
    top: calc(50% - 1.25rem);
  }

  .profile-area .outer-circle span:nth-child(4) {
    bottom: -1.25rem;
    left: calc(50% - 1.25rem);
  }

  .profile-area .inner-circle {
    width: 14rem;
    height: 14rem;
  }
}
/* Small Devices*/
@media screen and (max-width: 350px) {
  .profile-area {
    grid-column: 1/3;
    margin-left: 0;
  }

  .profile-area .outer-circle {
    width: 15rem;
    height: 15rem;
  }

  .home__social {
    display: none;
  }

  .home__content {
    column-gap: 0;
  }

  .profile-area .inner-circle {
    width: 11rem;
    height: 11rem;
  }
}
