.work__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: var(--mb-2);
}

.work__item {
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.work__item:hover {
  background-color: var(--title-color);
  color: var(--container-color);
}

.work__container {
  max-width: 46.3rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.2rem;
  row-gap: 2.6rem;
  justify-content: center;
}

.work__card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--container-color);
  border-radius: 0.65rem;
  overflow: hidden;
  transition: all 0.4s;
}

.work__card:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
}

.work-content {
  padding: 0.2rem 0.8rem 0.8rem 0.8rem;
}

.work__img {
  width: 100%;
  transition: all 0.5s;

  width: 300px;
  margin-bottom: var(--mb-0-25);
}

.work__img:hover {
  transform: scale(1.1);
}

.work__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-5);
  margin-top: var(--mb-0-5);
  margin-right: 0;
}

.work__title:hover {
  opacity: 1;
  color: crimson;
}

.work__button {
  color: var(--text-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.work__button-icon {
  font-size: 1rem;
  transition: 0.4s;
}

.work__button:hover .work__button-icon {
  transform: translateX(0.25rem);
}

.active-work {
  background-color: var(--title-color);
  color: var(--container-color);
}

/*========  POPUP MODAL =====*/
.project__modal,
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: var(--z-modal);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  opacity: 1;
  transition: 0.3s;
}

.project__modal-content {
  width: 800px;
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #f0f3f5;
  background: var(--container-color);
  line-height: 1.4;
  min-width: 60%;
  max-width: 85%;
  z-index: var(--z-modal);
}

.project__modal-close {
  position: absolute;
  top: 10px;
  right: 10px;

  font-size: 1.5rem;
  color: #ff014f;
  cursor: pointer;
}

.project__modal-title {
  margin-top: 0.25rem;
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1);
}

.project__modal-description {
  padding: 0 1.5rem;
  margin-bottom: var(--mb-1);
}

.project__description {
  font-size: var(--small-font-size);
  display: grid;
  row-gap: 1rem;
  margin-bottom: 0.1rem;
  color: #302d2d;
}

.project__modal-icon {
  color: #f0f3f5;
  font-size: 0.75rem;
}

.modal__buttons {
  margin-top: 1rem;
  display: inline-flex;
  margin-left: 2rem;
  gap: 6rem;
  padding: 0.25rem;
}

.btn-modal {
  background-color: var(--title-color);
  /* background-color: palevioletred; */
  color: var(--container-color);
  color: #ff014f;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: var(--font-semi-bold);
  font-size: var(--small-font-size);
  width: 6rem;
}

.project__modal-img img {
  margin-bottom: 0;
  border-radius: 0.3rem;
}

/*========  BREAKPOINTS =====*/
/* Large Devices*/
@media screen and (max-width: 992px) {
  .project__modal-content {
    width: 750px;
  }

  .project__description {
    row-gap: 0.5rem;
  }

  .modal__buttons {
    margin-top: 0.75rem;
  }
}

/* Medium Devices*/
@media screen and (max-width: 768px) {
  .work__container {
    grid-template-columns: max-content;
    justify-content: center;
  }

  .project__modal-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
  }

  .project__modal-description {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }

  .project__modal-title {
    margin-bottom: 0.5rem;
  }

  .project__modal-img {
    width: 100%;
    margin-bottom: 0.5;
  }

  .modal__buttons {
    margin-top: 0.5rem;
    margin-left: 2rem;
    gap: 4rem;
    padding: 0.25rem;
  }

  .btn-modal {
    padding: 0.2rem;
    border-radius: 0.25rem;
    font-weight: var(--font-normal);
    font-size: var(--small-font-size);
  }

  .project__description {
    row-gap: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .work__container {
    grid-template-columns: max-content;
  }

  .project__modal-content {
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.5fr;
    gap: 0.5rem;
    padding: 1rem;
    padding-top: 2rem;
  }

  .project__modal-close {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 1.75rem;
  }

  .project__modal-img {
    width: 100%;
  }

  .project__modal-title {
    font-size: var(--h3-font-size);
  }

  .project__description {
    font-size: var(--small-font-size);
  }

  .btn-modal {
    font-size: var(--smaller-font-size);
    width: 4rem;
    padding: 0.4rem;
  }

  .modal__buttons {
    margin-top: 0.25rem;
    margin-left: 2rem;
    gap: 8rem;
  }
}

@media screen and (max-width: 420px) {
  .work__container {
    grid-template-columns: max-content;
  }

  .work__item {
    font-size: var(--small-font-size);
  }

  .work__filters {
    column-gap: 0.25rem;
  }

  .project__modal-content {
    gap: 0.25rem;
  }

  .project__modal {
    padding: 0;
  }

  .modal__buttons {
    margin-top: 0.25rem;
    margin-left: 0;
    gap: 6rem;
  }
}

/* Small Devices*/
@media screen and (max-width: 355px) {
  .work__container {
    grid-template-columns: max-content;
  }

  .work__item {
    font-size: var(--small-font-size);
  }

  .work__filters {
    column-gap: 0.25rem;
  }

  .project__modal-content {
    gap: 0.25rem;
  }

  .project__modal {
    padding: 0;
  }

  .modal__buttons {
    margin-top: 0.25rem;
    margin-left: 0;
    gap: 6rem;
  }
}
